*::after, *::before, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: white;
}

/* resume css */

.resume {
    display: flex;
    box-shadow: 0 0 8px #000;
    flex-wrap: wrap;
}

.resume__left {
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: rgb(0, 0, 0);
    color: white;
    max-width: 380px;
    align-items: center;
}

/* my-picture__box css */

.my-picture__box img{
    width: 260px;
    height: 260px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.my-picture__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.my-picture__box p{
    margin-bottom: 20px;
}

.my-picture__box .line {
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: white;
}


/* contact-info css */


.contact-info {
    margin-bottom: 40px;
}
.contact-info__datas {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
}

.contact-info__title {
    margin-bottom: 20px;
}


/* education css */

.education {
    margin-bottom: 40px;
}

.education__title {
    margin-bottom: 20px;
}

.education__datas {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
}

.education__datas li h5 {
    font-size: 18px;
    font-weight: bold;
    color: rgb(167, 161, 161);
    margin-bottom: 10px;
    margin-top: 20px;
}

/* languages css */

.languages {
    width: 100%;
}

.languages__datas {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.languages__datas span {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 10px;
}

.percent {
    width: 100%;
    background-color: rgb(167, 161, 161);
    height: 8px;
}

.percent div {
    background-color: white;
    height: 8px;
}


/* resume right  css*/

.resume__right {
    padding: 40px;
    max-width: 700px;
    display: flex;
    flex-direction: column;
}

.resume__right h2 {
    color: rgb(167, 161, 161);
}

.profile {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile p {
    line-height: 30px;
    margin-bottom: 20px;
}

/* experience css */

.experience {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
}

.experience__box {
    display: flex;
    justify-content: space-between;
}

.experience__box h4 {
    font-weight: bold;
}

.experience__box h5 {
    font-weight: 600;

}

.experience__box div:nth-child(2) {
    max-width: 380px;
}

/* sikll  css */

.sikll {
    display: flex;
    align-items: center;
    gap: 40px;
}

.sikll h2 {
    width: 150px;
}

.skills {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
}